In [2]:
import pandas as pd
data = pd.read_csv('ner_dataset.csv', encoding = 'unicode_escape')
data.head(10)

    Sentence #           Word  POS    Tag
0  Sentence: 1      Thousands  NNS      O
1          NaN             of   IN      O
2          NaN  demonstrators  NNS      O
3          NaN           have  VBP      O
4          NaN        marched  VBN      O
5          NaN        through   IN      O
6          NaN         London  NNP  B-geo
7          NaN             to   TO      O
8          NaN        protest   VB      O
9          NaN            the   DT      O

In [2]:
from itertools import chain
def

In [ ]:
word = list(set(data["Word"].values))